/* Seccion Ediciones */

.conteiner-img {
    display: flex;
    align-items: center;
    margin: 15px auto;
    width: 80%;
    border: solid black;
    border-radius: 15px;
    padding: 12px;
}

.imgEdi {
    max-width: 50%;
    height: auto;
}

.txtEdi {
    font-weight: bold;
    margin: 10px 15px 12px 20px;

    h2 {
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }
}